<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chatbot powered by Gradio API</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="chat-container">
    <h1>Chatbot powered by Gradio API </h1>
    <div class="message-input">
      <textarea id="user_input" placeholder="Enter your message here...."></textarea>
      <button onclick="sendMessage()"> SEND MESSAGE</button>
    </div>
    <div class="chat-history">
      <p id="response">Wait for the response...</p>
    </div>
  </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>